.container {
  @apply w-screen overflow-x-scroll;
}
.card {
  @apply w-screen h-[60vh] flex flex-col items-center justify-around p-4 hover:opacity-80 transition-all duration-300 md:w-[50vw] xl:w-[33vw] xl:h-[90vh] border-t border-secondary-100 bg-primary;
}
.child_container {
  @apply w-max flex;
}
.img_container {
  @apply relative flex-1 w-full hover:rotate-[60deg] transition-all duration-500;
}
.card_body {
  @apply flex-1 flex mt-2 flex-col items-center justify-center text-center gap-4;
}
.card_title {
  @apply text-xl font-bold uppercase xl:text-2xl 2xl:text-3xl text-gray-50;
}
.card_desc {
  @apply p-4 2xl:p-8 text-gray-100;
}
.card_price {
  @apply text-xl font-bold text-red-500;
}
